In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob

In [ ]:
path = "../data/processed/"
all_files = glob.glob(path + "*.parquet")
df_lst = []
for filename in all_files:
    df = pd.read_parquet(filename)
    def model_dataset(df):
        df = df.copy()
        drop_lst = ['num_providers','providers_list','last_updated',	'provider','season', 'provider','last_updated','season_type','home_kickReturnYards', 'home_kickReturnTDs','home_interceptionTDs','home_interceptionYards','home_kickReturns','home_kickingPoints','home_puntReturnTDs','home_puntReturnYards','home_puntReturns','away_interceptionTDs','away_interceptionYards','away_kickReturnTDs','away_kickReturnYards','away_kickReturns','away_kickingPoints','away_puntReturnTDs','away_puntReturnYards','away_puntReturns','start_date']
        df.drop(drop_lst, axis=1, inplace=True)
        df['o/u'] = df['total']
        df['total'] = df['home_points'] + df['away_points']
        df['pt_diff'] = abs(df['home_points'] - df['away_points'])
        df['winner'] = np.where(df['home_points'] > df['away_points'], df['home_team'], df['away_team'])
        return df_

,game_id,home_team,away_team,season,week,season_type,conference_game,neutral_site,venue,home_points,...,away_def_totalPPA,away_def_ppa,away_def_drives,away_def_plays,spread,total,num_providers,providers_list,last_updated,provider
0,400935282,Colorado State,Oregon State,2017,1,regular,False,False,Canvas Stadium,58,...,32.460304,0.381886,12.0,85.0,-3.0,61.0,3,teamrankings,None,consensus
1,400945031,BYU,Portland State,2017,1,regular,False,False,LaVell Edwards Stadium,20,...,5.417063,0.084642,12.0,64.0,NaN,60.0,1,consensus,None,consensus
2,400938887,Massachusetts,Hawai'i,2017,1,regular,False,False,Warren McGuirk Alumni Stadium,35,...,21.895034,0.291934,12.0,75.0,-3.0,60.0,3,teamrankings,None,consensus
3,400941786,San José State,South Florida,2017,1,regular,False,False,CEFCU Stadium,22,...,-1.439283,-0.016355,19.0,88.0,20.5,68.5,3,teamrankings,None,consensus
4,400935257,Rice,Stanford,2017,1,regular,False,True,Allianz Stadium,7,...,-8.791357,-0.141796,12.0,62.0,29.5,51.0,3,teamrankings,None,consensus

In [21]:
df_17.shape

(834, 194)

In [22]:
df_17.columns

Index(['game_id', 'home_team', 'away_team', 'season', 'week', 'season_type',
       'conference_game', 'neutral_site', 'venue', 'home_points',
       ...
       'away_def_totalPPA', 'away_def_ppa', 'away_def_drives',
       'away_def_plays', 'spread', 'total', 'num_providers', 'providers_list',
       'last_updated', 'provider'],
      dtype='object', length=194)

In [ ]:
def model_dataset(df):
    df = df.copy()
    drop_lst = ['num_providers','providers_list','last_updated',	'provider','season', 'provider','last_updated','season_type','home_kickReturnYards', 'home_kickReturnTDs','home_interceptionTDs','home_interceptionYards','home_kickReturns','home_kickingPoints','home_puntReturnTDs','home_puntReturnYards','home_puntReturns','away_interceptionTDs','away_interceptionYards','away_kickReturnTDs','away_kickReturnYards','away_kickReturns','away_kickingPoints','away_puntReturnTDs','away_puntReturnYards','away_puntReturns','start_date']
    df.drop(drop_lst, axis=1, inplace=True)
    df['o/u'] = df['total']
    df['total'] = df['home_points'] + df['away_points']
    df['pt_diff'] = abs(df['home_points'] - df['away_points'])
    df['winner'] = np.where(df['home_points'] > df['away_points'], df['home_team'], df['away_team'])
    return df

In [28]:
df_17['pt_diff']

0      31
1      14
2       3
3      20
4      55
       ..
829     7
830     3
831     6
832    35
833     1
Name: pt_diff, Length: 834, dtype: int64

In [32]:
df_17.columns

Index(['game_id', 'home_team', 'away_team', 'week', 'conference_game',
       'neutral_site', 'venue', 'home_points', 'away_points',
       'home_conference',
       ...
       'away_def_totalPPA', 'away_def_ppa', 'away_def_drives',
       'away_def_plays', 'spread', 'total', 'num_providers', 'providers_list',
       'pt_diff', 'o/u'],
      dtype='object', length=173)

In [34]:
df_17['o/u']

0      61.0
1      60.0
2      60.0
3      68.5
4      51.0
       ...
829    60.0
830    50.5
831    51.0
832    48.0
833    43.5
Name: o/u, Length: 834, dtype: float64

In [15]:
df_17['total']

0      85
1      26
2      73
3      64
4      69
       ..
829    57
830    31
831    48
832    41
833    27
Name: total, Length: 834, dtype: int64

In [38]:
df_17.loc[:,['home_team','away_team', 'home_points','away_points','winner','pt_diff','spread','total','o/u']]

,home_team,away_team,home_points,away_points,winner,pt_diff,spread,total,o/u
0,Colorado State,Oregon State,58,27,Colorado State,31,-3.0,85,61.0
1,BYU,Portland State,20,6,BYU,14,NaN,26,60.0
2,Massachusetts,Hawai'i,35,38,Hawai'i,3,-3.0,73,60.0
3,San José State,South Florida,22,42,South Florida,20,20.5,64,68.5
4,Rice,Stanford,7,62,Stanford,55,29.5,69,51.0
...,...,...,...,...,...,...,...,...,...
829,Arkansas State,Troy,25,32,Troy,7,1.0,57,60.0
830,Boise State,Fresno State,17,14,Boise State,3,-10.0,31,50.5
831,Wisconsin,Ohio State,21,27,Ohio State,6,3.5,48,51.0
832,Clemson,Miami,38,3,Clemson,35,-12.5,41,48.0
833,Navy,Army,13,14,Army,1,-2.5,27,43.5

In [36]:
df_17['winner'] = np.where(df_17['home_points'] > df_17['away_points'], df_17['home_team'], df_17['away_team'])

In [37]:
df_17['winner']

0      Colorado State
1                 BYU
2             Hawai'i
3       South Florida
4            Stanford
            ...
829              Troy
830       Boise State
831        Ohio State
832           Clemson
833              Army
Name: winner, Length: 834, dtype: object